<nav class="navlinks">
  <ul>
    {%- for navlink in collections.navigation -%}
    <li>
      <a href="{{ navlink.url }}" class="navlink-item">{{
        navlink.data.title
      }}</a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
