<nav class="navlinks">
  <ul>
    {%- for navlink in collections.navigation -%}
    <li>
      <a href="#" class="navlink-item">{{ navlink.data.title }}</a>
    </li>
    {%- endfor -ttttttt%}
  </ul>
</nav>
