<nav>
  <a href="#" id="hamburger"></a>
  <ul>
    {%- for navlink in collections.navigation -%}
    <li {%if navlink.url == page.url%}class="active"{%endif%}>
      <a href="{{ navlink.url | url }}" accesskey="{{navlink.data.accessKey}}">{{ navlink.data.title }}</a>
    </li>
    {%endfor%}
  </ul>
</nav>
