<nav class="navlinks">
  <a href="#" id="hamburger"></a>
  <ul>
    {%- for navlink in collections.navigation -%}
    <li class="{% if navlink.url == page.url %}active{%endif%}">
      <a href="{{ navlink.url | url }}" class="nav-link-item">{{
        navlink.data.title
      }}</a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
