// body {
//   margin: 0;
//   // position: absolute;
// }

#wrapper {
  // position: absolute;
  max-width: 80%;
  margin: 0 auto;
  // justify-content: center;
}

body {
  margin: 0 auto;
}
main {
  margin-top: 75px;
}

.about {
  #wrapper {
    background: rgb(252, 186, 196);
    font-family: sans-serif;
    margin: 0 auto;
  }
}
