nav {
  background-color: $nav-bar-background;
  font: 1em sans-serif;
  position: fixed;
  list-style-type: none;
  z-index: 1;
  width: 100%;

  ul {
    background-color: $nav-bar-background;
    display: none;
    padding: 0px;
    margin: 0px;

    list-style-type: none;

    @media (min-width: $breakpoint-sm-desktop) {
      display: flex;
    }
  }

  li {
    background-color: $nav-bar-background;
  }
  a {
    box-sizing: border-box;
    text-decoration: none;
    padding: $nav-bar-padding;
    color: $nav-bar-link-color;
    display: inline-block;
  }
  li:hover {
    background-color: $nav-bar-link-hover;
  }
  .active a {
    font-weight: bold;
  }
  li.active {
    background-color: darken($nav-bar-background, 20%);
  }
  @media (min-width: $breakpoint-sm-desktop) {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    background: $nav-bar-background;
    text-align: center;
  }
}
.show-navigation-bar nav ul {
  display: block;
  width: 100%;
}
#hamburger {
  display: block;
  position: sticky;
  background-color: $nav-bar-background;
  padding-top: $nav-bar-padding;
  padding-left: 1em;
  padding-bottom: $nav-bar-padding;
  width: 100%;
  @media (min-width: $breakpoint-sm-desktop) {
    display: none;
  }
  &::after {
    content: '';
    background: url(../img/nav-icon.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
  }
}
