$nav-hamburger-background-color: red;
$nav-bar-text: white;
$nav-bar-background: rgb(101, 201, 235);
$nav-bar-link-hover: rgb(53, 53, 185);
$nav-bar-link-color: white;

#hamburger {
  display: block;
  padding-top: 1em;
  padding-left: 1em;
  width: 100%;
  @media (min-width: $breakpoint-lg-desktop) {
    display: none;
  }
  &::after {
    content: '';
    background: url(../img/nav-icon.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: cover;
    display: inline-block;
  }
}

nav {
  list-style: none;
  background-color: $nav-bar-background;
  display: flex;

  position: fixed;
  width: 100%;
  top: 0;
  ul {
    padding: 0;
    li {
      display: inline-block;
      text-decoration: none;
      justify-content: space-between;
      //   margin-right: 1em;
      li:hover {
        background-color: $nav-bar-link-hover;
      }

      a {
        color: $nav-bar-link-color;
      }
    }
  }
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link-item {
  margin-right: 2em;
}
