$nav-bar-text: white;
$nav-bar-background: rgb(31, 134, 168);
$nav-bar-link-hover: darken($nav-bar-background, 20%);
$nav-bar-link-color: white;

nav {
  // width: 100%;
  // height: 22px;
  background-color: $nav-bar-background;
  font: 1em sans-serif;
  position: fixed;
  list-style-type: none;
  // z-index: 1;
  width: 100%;
  // box-sizing: border-box;
  // top: 0;
  // left: 0;

  ul {
    background-color: $nav-bar-background;
    display: none;
    // display: flex;
    // flex-direction: column;
    padding: 0px;
    margin: 0px;
    // position: absolute;
    list-style-type: none;
    // width: auto; //auto
    @media (min-width: $breakpoint-lg-desktop) {
      display: flex;
    }
  }

  li {
    background-color: $nav-bar-background;
    // padding: 1em;
    // left: -10px;
  }
  a {
    // padding: 1rem;
    // width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    padding: 1.5rem;
    color: $nav-bar-link-color;
    display: inline-block;
    // background-color: transparent;
  }
  li:hover {
    background-color: $nav-bar-link-hover;
  }
  .active a {
    font-weight: bold;
  }
  li.active {
    background-color: darken($nav-bar-background, 20%);
  }
  @media (min-width: $breakpoint-lg-desktop) {
    // display: inline-block;
    display: flex;
    flex-direction: row;
    height: 75px;

    justify-content: space-around;
    background: $nav-bar-background;
    text-align: center;
  }
}
.show-navigation-bar nav ul {
  display: block;
  // flex-direction: column;
  // position: absolute;
  width: 100%;
}
#hamburger {
  display: block;
  position: sticky;
  background-color: $nav-bar-background;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-bottom: 1.5em;
  width: 100%;
  @media (min-width: $breakpoint-lg-desktop) {
    display: none;
  }
  &::after {
    content: '';
    background: url(../img/nav-icon.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: cover;
    display: inline-block;
  }
}
