<body {{%- if pageKind %}} class="{{ pageKind }}" {{%- endif -%}}>
  <div id="wrapper">
    {%- include nav.liquid -%}
    <main>
      {{ content }}
      {%- include footer.liquid -%}
    </main>
  </div>
</body>
