<body {{%- if pageKind %}} class="{{ pageKind }}" {{%- endif -%}}>
  <div id="wrapper">
    {%- include nav.liquid -%}
    <main>
      {% include components/pokemonSummary.html %} {% include
      components/pokemonDetails.html %} Brek!
      {{ content }}
      {%- include footer.liquid -%}
    </main>
  </div>
</body>
