<body {{%- if pageKind %}} class="{{ pageKind }}" {{%- endif -%}}>
  {%- include nav.liquid -%}
  <div id="wrapper">
    <main>
      {% include components/pokemonSummary.html %} {% include
      components/pokemonDetails.html %}
      {{ content }}
      {%- include footer.liquid -%}
    </main>
  </div>
</body>
