.pokemonSummary {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.pokeGrid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(222, 233, 222);

  @media (min-width: $breakpoint-sm-desktop) {
    flex-flow: row wrap;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $breakpoint-lg-desktop) {
    background-color: rgb(151, 151, 241);
  }
}
.pokemonCard {
  display: flex;
  height: 200px;
  flex-flow: column wrap;
  justify-content: center;
  &:hover {
    background: lightseagreen;
  }
  img {
    height: 180px;
    width: 180px;
    margin: 0 auto;
  }
  a {
    display: block;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .monster-name {
    margin: 0 auto;
  }
}
